body {
    text-align: center;
    background-color: lightblue;
}

h1{
    font-family: Arial Black (sans-serif);
}
.stopwatch {
    margin: 220px auto;
    width: 200px;
}

.str{
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px 8px;
    background-color: black;
    color: white;
}
.head{
    font-size: 50px;
    font-family: cursive;
}